#recipeSearch .container {
    max-width: 925px;
}
/************ fix to increase the height of side div**********/
.container-fluid {
    overflow: hidden;
}
.sidenav {
    margin-bottom: -1400px;
    padding-bottom: 1400px;
}
/**************************************************************/

