
#recipeSearch .container {
    max-width: 925px;
}
/************ fix to increase the height of side div**********/
.container-fluid {
    overflow: hidden;
}
.sidenav {
    margin-bottom: -1400px;
    padding-bottom: 1400px;
}
/**************************************************************/


 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
  }
    
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 572px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 40px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
    margin-bottom:0px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
        
  }
/**************homepage style****************/
  .firstcharacter {
    color: black;
    float: left;
    font-family: serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  p#description {
      
    line-height: 3rem;
    width: 850px;
    padding-left: 100px;
    padding-top: 61px;
    color: #544747;
    font-size: 17px;
 }
 /*****************google maps*************************/

 #map {
    height: 500px;
    width:800px;
  }

  .jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/fruitBackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron h1 {
  font-size: 52px;
  text-align: center;
}
.jumbotron p{
  text-align: center;

}

 #contactForm {
  margin-left: 185px;
  margin-right: 185px;

} 
p#about {
  font-size: 17px;
  padding-top: 33px;
}
/*#addButton{
    float: left;
}

.navbar{
    background: linear-gradient(black);
}
.panel-heading{
    background-color: black;
}

.fontChange{
    font-size: 35px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    color:blue;
}*/

/*.shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
*/
  /*.glass{*/
	/* background styles 
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	background-color: green; /*for compatibility with older browsers*/
	/*background-image: linear-gradient(blue, silver);*/

	/* text styles */
	/*text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 100;
}

  .glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.drip {
    color: #EEE;
    text-shadow: 4px 4px 1px #300000,
    4px 6px 1px #400000, 4px 8px 1px #500000; /*......and so on, until 4px 60px 5px #FF0000; */
   /* font-size: 25px;
}*/
 
